@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<div class="page">
    <main>
        <div>
            <NavMenu />
        </div>
        <div >
            <MenuLateral />
        </div>       
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Toasts class="p-3" Messages="messagesAlr" AutoHide="true" Delay="10000" Placement="ToastsPlacement.TopRight" />
@code {
    List<ToastMessage> messagesAlr = new List<ToastMessage>();
    private List<string> messages = new List<string>();
    private HubConnection? hubConnection;
    string Titulo = "Movimiento";
    string Mensaje = "Movimiento";
    string usuario = "Movimiento";
    protected override async Task OnInitializedAsync()
    {        
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string, List<Balance>>("ReceiveMessage", (user, message, balancesChat) =>
        {
            Mensaje = message;
            usuario = user;            
            ShowMessage(ToastType.Primary);
            StateHasChanged();
        });
        await hubConnection.StartAsync();
    }
    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    //ESTO ES PARA LAS ALERTAS
    private void ShowMessage(ToastType toastType) => messagesAlr.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
    => new ToastMessage
        {
            Type = toastType,
            Title =usuario,
            HelpText = $"{DateTime.Now}",
            Message = Mensaje,
        };    
}