@page "/medestatica"
<Tabs>
    
    
    <Tab Title="Oferta diaria" IsActive="true">
        <Content>
            <div style="height:700px;overflow-y: scroll">
                <OfertaDiariaList />
            </div>
        </Content>
    </Tab>
    <Tab Title="Guias">
        <Content>
            <div style="height:700px;overflow-y: scroll">
                <GuiaList />
            </div>
        </Content>
    </Tab>
    <Tab Title="Sellos">
        <Content>
            <div style="height:700px;overflow-y: scroll">
                <SelloList />
            </div>
        </Content>
    </Tab>
    <Tab Title="Vehiculos">
        <Content>
            <div style="height:300px;overflow-y: scroll">
               <VehiculoList />
            </div>

        </Content>
    </Tab>
    <Tab Title="Operacios">
        <Content>
            <OperariosList />


        </Content>
    </Tab>
    <Tab Title="Conductores">
        <Content>
            <div style="height:700px;overflow-y: scroll">
                <div style="width:100%">
                    <Conductoreslist />
                </div>
            </div>
        </Content>
    </Tab>    
    <Tab Title="Rutas">
        <Content>
            <div style="height:300px;overflow-y: scroll">
                <div style="width:100%">
                    <RutaList />
                </div>
            </div>
        </Content>
    </Tab>
    <Tab Title="Empresas">
        <Content>
            <div style="height:300px;overflow-y: scroll">
                <div style="width:100%">
                    <Empresalist />
                </div>
            </div>
        </Content>
    </Tab>
    <Tab Title="Materiales">
        <Content>
            <div style="height:300px;overflow-y: scroll">
                <div style="width:100%">
                    <MaterialesEcopetrolList />
                </div>
            </div>
        </Content>
    </Tab>
</Tabs>
